.player {
  position: absolute;

  top: 0;
  left: 0;

  width: 56px;
  height: 87px;

  margin-left: -31px;
  margin-top: -87px;


  div {margin: 0; padding: 0;}
  div div {background: #A4CA39; position: relative;}

  .miley-retard {
    background: url("miley-retard.png") no-repeat;
    background-size: cover;
    width: 140px;
    height: 216px;

    @include transform-origin(0,0);
    @include transform(scale(0.40, 0.40));
  }

  .body{
    width: 220px; height: 184px;
    top: 40px;

    @include border-radius(0 0 25px 25px);
  }

}