@import "compass/css3";


//.container {
//  background: url("../images/background-miley-innocent.png") no-repeat;
//  background-size: 20%;
//  bottom: 0;
//  left: 10px;
//  min-height: 600px;
//  overflow: hidden;
//  position: absolute;
//  right: 0;
//  top: 10px;
//}


.game {
  left: 50%;
  top: 50%;
  width: 320px;
  height: 480px;
  margin-left: -160px;
  margin-top: -240px;
  overflow: hidden;
  position: absolute;
  border: 1px solid black;
}

.world {
  position: absolute;
  width: 320px;
  height: 480px;
}

.background {
  background: url("../images/miley-background.png");
  position: absolute;
  height: 480px;
  width: 320px;
}

.enemy {
  position: absolute;
  height: 75px;
  width: 65px;
  left: 0;
  top: 0;
  background: url('../images/enemies/disney_enemy.png') 50% 50% / contain no-repeat;
}

#menu {
  background: url("../images/molly-welcome.jpg");
  height: 480px;
  width: 320px;
  position: absolute;
  top: 0;
  left: 0;
}

#score_container {
  position: absolute;
  left: 10px;
}

#menu h1 {
  color: yellow;
  margin-left: 60px;
}

/*#play {
  position: absolute;
  bottom: 20px;
  left: 120px;
}    */

#play{
  position: absolute;
  bottom: 90px;
  left: 120px;
  display:inline-block;
  width:80px;
  height:80px;
  border-radius:66px;
  border:4px double pink;
  font-size:20px;
  color:pink;
  line-height:100px;
  color: white;
  text-align:center;
  text-decoration:none;
  text-shadow:0 1px 0 #fff;
  background:pink
}

#btn-play {
  position: absolute;
  bottom: -15px;
  left: 17px;
}

.play:hover{
  border:4px double #bbb;
  color:#aaa;
  text-decoration:none;
  background:#e6e6e6
}

#game_over {
  //background: url(https://lh3.ggpht.com/Us1UCB_qGz2UEv_R0bxmskudTYe6zG93u_oJFjgwkLkHTXWjTLC-KXdOh7BY1HePLxg=h900);
  background: url("../images/molly-game-over.png");
  border: solid 1px black;
  border-radius: 8px;
  height: 360px;
  width: 240px;
  position: absolute;
  top: 40px;
  left: 40px;
}

.highscore {
}

#FML {
  background: black;
  height: 480px;
  width: 320px;
  position: absolute;

}

//.background {
  //background: url('http://assets.sbnation.com/assets/1608607/Screen_Shot_2012-08-06_at_12.23.43_PM.jpeg');
 // position: absolute;
 // height: 479px;
  //width: 3000px;
//}


@import "_platform";
@import "_coin";
@import "_player";