@import "compass/css3";


.container {
  background: url("../images/background-miley-innocent.png") no-repeat;
  background-size: 20%;
  bottom: 0;
  left: 10px;
  min-height: 600px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 10px;
}

@import "_platform";
@import "_player";